body {
    background-color: LightGrey;
}

.button-cluster {
    vertical-align: text-top;
    border-style: dotted;
    float:left;
    width: 49%;
    height:180px;
    margin-right: 0px;
    display: inline-block;
    position: relativ;
    margin-left:20%;
}

.key-descr-cluster {
    border-style: dotted;
    float:right;
    width:49%;
    height:180px;
    margin-left: 0px;
    display: inline-block;
    position:relativ;
    margin-right:20%;
}

.descrip-cluster {
    align:center;
    width:60%
    border-style: dashed;
    background-color: Red;
    display:flex;
}

.video-cluster {
    padding: 10px;
    border-style: solid;
}

.ponggame_cluster {
    background-color: #C0C0C0;
    border-radius: 10px;
    box-shadow:2px 2px 3px darkgray;
    position: relativ;
    margin:auto;
    border-style: double;
    width:1300px;
}


